Checks:
  - bugprone-*
  - -bugprone-easily-swappable-parameters
  - clang-analyzer-*
  - cppcoreguidelines-*
  - modernize-*
  - -modernize-use-trailing-return-type
  - performance-*
HeaderFilterRegex: .*
